<form action="/halp" method="POST">
  <div class="title">
    <% if @cool %> Dope.<% end %>
    <%= Idea.count %> ideas collected so far.
  </div>

  <textarea name="idea[idea]"></textarea>

  <input type="submit" />
</form>
