<section class="context" style="font-size: 16px; text-align: center; ">
  <p>
    Animal stickers are a bunch of stickers with animal hybrids.<br />
    <br />
    Honestly, we can't imagine what you would need support with here, but if you
    need help or just want to send us a quick lol, support@superserious.co.
  </p>
</section>
