<section class="context" style="font-size: 16px; text-align: center; ">
  <p>
    Giggles is an app for making and listening to jokes.<br />
    <br />
    Every day, a new user-submitted photo is chosen.
    Then, users can press the red button to record an audio clip for that photo.
    You can record jokes, captions, conversations, or stories that relate to the image.
    You can also listen to other users' audio submissions.
    For support contact support@superserious.co.
  </p>
</section>

<section class="house">
  <%= image_tag "gigglesIcon.png"%>
</section>
