<section class="context">
  <p>
    Plot: Homeless guy and his boss quit jobs and randomly move to Portugal.<br />Here's what happened today:
  </p>
</section>

<section class="story">
  <% day = @day %>
  <% cache day do %>
    <article class="day">
      <%= render day %>
    </article>
  <% end %>

  <div class="readMore">
    <a href="/projects/this-website">Check out the full story</a>
  </div>
</section>

<%= render "layouts/social" %>
