<section class="context">
  <p>
    Plot: Homeless guy and his boss quit jobs and randomly move to Portugal.
  </p>
  <p>
    Here's what happened today:
  </p>
</section>

<section class="story">
  <% day = @day %>
  <% cache day do %>
    <article class="day">
      <%= render day %>
    </article>
  <% end %>

  <div class="readMore">
    <a href="/projects/this-website">Check out the full story</a>
  </div>
</section>

<section class="social">
  <p class="mobile-only">
    Get the cartoons fresh in your feed:
  </p>

  <div class="icons">
    <a href="https://instagram.com/superseriouscompany" target="_blank">
      <%= image_tag "instagram.jpg", alt: "Instagram" %>
    </a>
    <a href="https://www.facebook.com/superseriouscompany" target="_blank">
      <%= image_tag "facebook.jpg", alt: "Facebook" %>
    </a>
    <a href="https://twitter.com/superseriousco" target="_blank">
      <%= image_tag "twitter.jpg", alt: "Twitter" %>
    </a>
  </div>
</section>
