<section class="context">
  <p>
    Plot: Homeless guy and his boss quit jobs and randomly move to Portugal.
  </p>
  <p>
    Here's what happened today:
  </p>
</section>

<section class="story">
  <% day = @day %>
  <% cache day do %>
    <article class="day">
      <%= render day %>
    </article>
  <% end %>
</section>
