<section class="context padded">
  <p>
    Plot: Homeless guy and his boss quit jobs and randomly move to Portugal.
  </p>
  <p>
    Here's what happened today:
  </p>
</section>

<section class="story">
  <% day = @day %>
  <% cache day do %>
    <article class="day">
      <%= image_tag day.image_url %>
      <div class="quotes">
        <blockquote class="santi padded">
          <%= raw day.santi_quote %>
        </blockquote>

        <blockquote class="neil padded">
          <%= raw day.neil_quote %>
        </blockquote>
      </div>
    </article>
  <% end %>
</section>
