<section class="context" style="font-size: 16px; text-align: center; ">
  <p>
    We moved to a small fishing town in <br class="mobile-only"/>Portugal called Peniche.
  </p>
</section>

<section class="house">
  <%= image_tag "penicheNoFrame.jpg", class: "mobile-only" %>
  <%= image_tag "peniche.jpg", class: "desktop-only" %>
  <p style="text-align: center">
    Why?
  </p>

  <p>
    Portugal's living costs are among the lowest of all developed countries.
    The U.S. is the 21st most expensive country to live in; Portugal is the 54th.
  </p>

  <p>
    Relative to other inexpensive countries, Portugal has screaming fast (1Gb/s) Internet speeds.
  </p>

  <p>
    The surf is disgustingly epic. Peniche boasts a dozen world class breaks, one of which is the famed Supertubos, stop #10 on the World Tour.
    Santi and Neil plan to get barreled here on the daily.
  </p>
</section>
