<section class="ideas">
  <form class="submission" method="POST" action="/thoughts">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input name="body" placeholder="Share your thoughts..." />
    <input type="submit" value="send" />
  </form>

  <div class="idea">Something around matching people up based on music.</div>
  <div class="idea">Something around interests.</div>
  <div class="idea">Something around learning a language by playing a game with native speakers.</div>
  <div class="idea">Something around a game inside iMessage using emoji.</div>
</section>
