<section class="context">
  <p>
    Friends have been giving us really good ideas and feedback <33
  </p>
</section>

<section class="ideas">
  <form class="submission js-submission-form" method="POST" action="/thoughts">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <div class="inputContainer">
      <input type="text" name="body" class="js-detect-filled" placeholder="Share your thoughts..." />
      <button></button>
      <input type="text" name="thinker" class="active step2" placeholder="" />
    </div>
  </form>

  <div class="idea">Something around matching people up based on music.</div>
  <div class="idea">Something around interests.</div>
  <div class="idea">Something around learning a language by playing a game with native speakers.</div>
  <div class="idea">Something around a game inside iMessage using emoji.</div>
</section>
