<section class="context">
  <p>
    We really appreciate all the good ideas and feedback our friends have been giving us.
  </p>
  <p>
    Keep it coming!
  </p>
</section>

<section class="ideas">
  <form class="submission js-submission-form" method="POST" action="/thoughts">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>

    <% if flash[:success].present? %>
      <div class="success dialog">
        <%= image_tag "check.jpg" %>
        Obrigado!
      </div>
    <% elsif flash[:error].present? %>
      <div class="failure dialog">
        Annnd everything's broken
        <a href="/ideas">Goddamnit.</a>
      </div>
    <% else %>
      <div class="inputContainer">
        <input type="text" name="body" class="js-body js-detect-filled" placeholder="Send us your thoughts..." />
        <button></button>
        <input type="text" name="thinker" class="js-thinker active step2" placeholder="Your Name (optional and trollable)" />
      </div>
    <% end %>
  </form>

  <div class="idea">Something around not eating alone.</div>
  <div class="idea">An app that turns long form articles into mp3s - Hova</div>
  <div class="idea">Something around skill exchanges.</div>
  <div class="idea">Something around vibrators.</div>
  <div class="idea">A sad chat bot (codename: Marvin) -Fingertan Laramie</div>
  <div class="idea">A spoiler app that gives you standardized summaries of TV shows you don't have time to watch. - Dave E.</div>
  <div class="idea">Something around instant adventure.</div>
  <div class="idea">"Pancake bet" - a game of increasing stakes that results in one person buying up to a hundred pancakes.</div>
  <div class="idea">Something around group chat product feedback.</div>
  <div class="idea">Something around meeting to play a game.</div>
  <div class="idea">"What's that smell?" an app for city dwellers that lets you know if anybody in your immediate area has smelled what you're smelling and if anyone knows what it is. - RJ Cregg</div>
  <div class="idea">Something around matching people up based on music.</div>
  <div class="idea">Something around interests.</div>
  <div class="idea">A language learning platform where you play a game with native speakers to learn.</div>
  <div class="idea">Something around a game inside iMessage using emoji.</div>
  <div class="idea">A distraction tracker mac app that lets you set aside sawdust</div>
</section>
