<section class="ideas">
  <form class="submission" method="POST">
    <input placeholder="Share your thoughts..." />
    <input type="submit" value="send" />
  </form>

  <div class="idea">Something around matching people up based on music.</div>
  <div class="idea">Something around interests.</div>
  <div class="idea">Something around learning a language by playing a game with native speakers.</div>
  <div class="idea">Something around a game inside iMessage using emoji.</div>
</section>
