<section class="context">
  <p>
    Things we hold to be true that are probably wrong.<br>Were we supposed to put our goals here or something?
  </p>
</section>

<section class="philosophy">
  <div class="quotes">
    <blockquote class="santi">
      If it's not fun, bail.
    </blockquote>

    <blockquote class="neil">
      I don't want to believe it, but the economic force behind the salaries of software engineers and garbagemen could be the same: we're paid more because most people don't want to deal with the shit we have to deal with.
    </blockquote>

    <blockquote class="santi">
      I like to work and play every day, none of this work now play later stuff (or vice versa for all you carpe diem lovers out there). I think Super Serious Company is all about making work fun all the time.
    </blockquote>

    <blockquote class="neil">
      There is a tension between the slow deliberation of quality software creation and the urgency of new ideas. I've seen lots of organizational attempts to address this by speeding up creation — hiring more people, calling work “sprints”, encouraging long hours. I wonder what happens if instead you let the work take as long as it wants to take and design your process to slow down everything else.
    </blockquote>

    <blockquote class="santi">
      I hate to use the word hate, but – really – I hate authority. I end up just not responding to it. But it also has a negative effect, because it removes my sense of ownership and direction over a product’s development, and often I’ll find ways of doing the bare minimum to get by under authority. That’s why I’m so anti-authority when it comes to organizational structure. I’d rather this company stay small than need some form of organizational hierarchy. I mean – if we’re bringing super baller, smart, creative folks on, why try and control them? If they’re inline with the mission and culture, we can just have a conversation about things until they’re resolved, or try two approaches, or whatever. I’d rather try anything than tell someone what to do. P.S. I especially dislike authority when it takes the form of an outsider getting “inserted” into a role, as opposed to a natural leader bubbling to the appropriate place in their organization.
    </blockquote>

    <blockquote class="neil">
      Fuck a hackathon, give me a refactathon.
    </blockquote>

    <blockquote class="santi">
      If there’s no funding, monetization should be baked into every product from the beginning, even if it’s a miniature baby income model. Thinking about income and cost and stuff is critical – this a fricken business you know? Plus, seeing things work and experimenting with income models is part of the magic. In my opinion, the tech community defers it way to often, because funding is so available. We’re going to try and make sure all of our stuff creates some sort of revenue for us from the get-go, and maybe even make sure they’re profitable all the way through.
    </blockquote>

    <blockquote class="neil">
      Growth for the sake of growth is the ideology of the cancer cell. -Edward Abbey
    </blockquote>

    <blockquote class="santi">
      When other people tell you what to do every day, and you don't have total creative freedom to do what you think is right, a little part of you shrivels up and dies, and the rest of you just sort of goes into auto-pilot to get through the day. That little part of you is the most important part though, and so we're thinking Super Serious Company will never have bosses or a hierarchy or any of that mess; if you're here, you have zero authority, just like everyone else. This, of course, only works up to like ten or twelve people, so I guess we'll have to remain small. WhatsApp and Instagram were small though, so it's possible.
    </blockquote>

    <blockquote class="neil">
      Everyone has a boss. The CEO’s boss is the board. A self sustaining farmer’s boss is nature. There is no objectively ideal boss, and I personally prefer trading off security and predictability for autonomy. My ranking of bosses:
      an audience > a market > nature >>> a board > clients > a good manager > a bad manager
    </blockquote>

    <blockquote class="santi">
      I've wanted to do this forever – start a tech company –, so, in the course of many years, I went through careful steps in order to gain experience: learned how to code, crashed classes at Caltech, worked on small projects, freelanced on random projects, learned how to design, got a job at Tinder, observed how a successful tech company does it's thing, hopped on as a cofounder to a friend's startup, partook in its acquisition. All this ramp up, and I'll never feel quite ready to start my own big thing. That changed when I had a good friend tell me that preparation is just a defense mechanism, that the time is always now.
    </blockquote>

    <blockquote class="neil">
      We value fun, autonomy and creative expression.
    </blockquote>

    <blockquote class="santi">
      A long time ago, I was traveling through Nicaragua with my then-good-friend-now-she-hates-me-anyways-it’s-a-long-story. She – Coral – told me a story about a university ceramics teacher that conducted an experiment on his class. On the first day, he divided the class in two: the left side and the right side. He told the left side they would be graded purely on quantity, so the more complete ceramics pieces were turned in at the end of the semester, the higher the grade. Conversely, he told the right side they would be graded on quality, where they only had to produce a single piece, and had all semester to work on it, but it had to be perfect. When the semester ended, something interesting had happened: the highest quality was actually produced by the left side, the group that was only supposed to be interested in quantity. The reason: they failed quickly, learned from their mistakes often, saw the full process start-to-finish, over and over, starting wiser each time; they weren’t afraid to fail and each iteration strengthened them as ceramicists. The quantity group, however, “sat theorizing about perfection, and in the end had little more to show for their efforts than grandiose theories and a pile of dead clay”. This story changed my life. I used to dream of starting a company with this huge, worldwide, blockbuster of a social network – a real game-changer. That all changed when I heard this story. Neil felt the same way, and so this company right here holds this as a core philosophy: build small, built fast, build complete, then again.
    </blockquote>

    <blockquote class="neil">
      Software is a creative art, and I’m interested in why art and business make such uneasy allies. Why do artists and suits devalue the contribution of the other side and warily view their partnership as a necessary liability? I’m betting big on Santi and I because we each have an internal artist and an internal businessman. I think that by marrying these two adversary thought patterns we can create new, good shit that generates cash sustainably.
    </blockquote>

    <blockquote class="santi">
      We've been thinking a lot about what hiring would look like. Background: we didn't like being employees and felt our potential wasn't being tapped under that model. Right now, we're thinking that a percentage of the profit (TBD, but like 50% or something) would be split as an even profit share amongst everyone working here each month. So right now, Neil and I will each get 50% that half-portion of this month's profit ($0.00). And if we ever wanted to bring on another person, all three of us would get 33.3% of that month's portion. Also, we want people to be able to come on and off in a lightweight fashion, so month-to-month seems right.
    </blockquote>
  </div>
</section>
