<section class="context">
  <p>
    Shit we believe that's probably wrong.
  </p>
</section>

<section class="philosophy">
  <div class="quotes">
    <blockquote class="santi">
      Yep
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>

    <blockquote class="neil">
      Nope
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>
  </div>
</section>
