<section class="context">
  <p>
    <%= @day.portuguese_title %>
  </p>
</section>

<section class="story">
  <article class="day">
    <% cache @day do %>
      <%= render @day %>
    <% end %>
  </article>

  <div class="readMore">
    <a href="/story">Check out the full story</a>
  </div>
</section>

<%= render "layouts/social" %>
