<section class="context">
  <p>
    Plot: Homeless guy and his boss quit jobs to blow their savings<br class="desktop-only"/> on a failed app business in Portugal.
  </p>

  <p class="js-notifications desktop-only" style="display: none !important">
    <a class="js-subscribe subscribe">Cartoon Notifications</a>
  </p>
</section>

<section class="story">
  <% @days.each do |day| %>
    <article class="day">
      <h2><%= day.portuguese_title %></h2>
      <%= render day %>
    </article>
  <% end %>
</section>
