<section class="context" style="font-size: 16px; text-align: center; ">
  <p>
    Tempted tracks the triggers of your unwanted habits.
    <br />
    <br />
    For support contact support@superserious.co.
  </p>
</section>
