/*
  All stylesheets have quirks. These are the quirks of this one:

  * mobile is the main target. media queries are used for special desktop rules.
  * rules are kept to one line, which favors overall structure readability over changing a single rule (use cmd+f).
  * the goal is to keep the design minimal and stick to this file, but logical sections are broken out in case we need to extract into multiple files.
  * we're not using SMACSS or any other framework. the idea is to keep the design simple enough that this one file remains readable.

*/

$headerHeight: 58px;
$desktopHeaderHeight: 145px;
$greyLine: 1px solid #DBDBDC;

/* Globals */
*    { box-sizing: border-box; }
body { font-family: 'Questrial', Helvetica, sans-serif; visibility: visible; }
a    { cursor: pointer; }

/* Page Layout */
h1              { text-align: center; margin: 0; padding-top: 11px; }
h1 img          { width: 141px; }
section         { border-top: $greyLine; font-size: 14px; }
section.context { line-height: 15px; color: #838386; padding: 0 60px; }
.hero           { display: none; }
.padded         { padding: 0 1em;}
.nightshade     { opacity: 0.8; background-color: black; position: fixed; left: 0; top: 0; bottom: 0; right: 0; display: none; }
body.hamburgerOpen .nightshade { display: block; }
body.hamburgerOpen .menu       { display: block; }

/* Header */
header { position:relative; z-index: 2; background-color: white; height: $headerHeight; }
header .hamburger { position:absolute; right: 18px; top: 18px; width: 29px; height: 20px; cursor: pointer; }
header .smallLogo { position: absolute; left: 15px; top: 12px; width: 58px; }
header .menu { display: none; position: absolute; top: $headerHeight + 9px; right: 9px; width: 66%; background-color: white; border-radius: 10px; padding: 3px 0; }
header .item { display: block; text-align: center; text-decoration: none; color: #07070D; padding: 16px 0; text-transform: uppercase; border-top: $greyLine; }
header .item:first-child { border-top: 0; }
header.withHeading .logoLink { display: none; }

/* Post on homepage or project page */
.day { border-top: $greyLine; &:first-child { border-top: 0; } }
.day h2 { color: #94796E; font-size: 24px; text-align: center;}
.day img.comic { width: 100%; }

/* Quotes on homepage, project page and philosophy page*/
.quotes  { background: white; }
.quotes blockquote { color: #94796E; line-height: 20px; margin: 0; background: url(asset-path('santiSideIcon.jpg')) no-repeat left top; background-size: 38px 45px; padding-left: 38px+15px; padding-right: 15px; font-size: 14px; }
.quotes blockquote.neil { background-image: url(asset-path('neilSideIcon.jpg')); background-size: 37px 45px; }
.quotes blockquote .chatBubble { display: none; }

/* Philosophy Page */
.philosophy blockquote { border-bottom: $greyLine; padding-top: 15px; padding-bottom: 15px; }

/* Ideas Page */
.ideas .submission { background: url(asset-path('ideaBg.jpg')) no-repeat; background-size: cover; height: 239px; position: relative; }
.ideas .inputContainer { position:absolute; bottom: 22px; right: 22px; left: 22px; }
.ideas input[type=text] { width: 100%; padding: 15px 50px 15px 12px; font-size: 16px; border: 0; box-shadow: none; }
.ideas button { width: 27px; height: 27px; background: url(asset-path('submitCircle.jpg')) left top; background-size: 100%; border: 0; cursor: pointer; position: absolute; top: 13px; right: 12px; }
.ideas .submittable button { background-position: left bottom; }
.ideas .step2 { display: none; }
.ideas input[type=submit] { visibility: hidden; }
.ideas .idea { padding: 15px 27px; border-bottom: $greyLine; color: #838386; }

@media only screen and (min-width: 769px) {
  /* Page Layout */
  h1 { padding: 25px 0 35px; }
  h1 img { width: 332px; }
  body { padding-top: $desktopHeaderHeight; }
  section { margin: 0 auto; max-width: 622px; border: 0; }
  section.context { font-size: 22px; max-width: none; border: $greyLine; border-width: 0 0 1px 0; line-height: initial; padding: 30px; text-align: center; }
  section.context p { margin: 15px 0 0; &:first-child { margin-top: 0; } }
  header  { position: fixed; width: 100%; background-color: white; top: 0; height: $desktopHeaderHeight; border-bottom: $greyLine; }
  header.withHeading .logoLink { display: inline; }
  header.withHeading .smallLogoLink { display: none; }
  header.withHeading .pageHeading { display: none; }
  header .hamburger { display: none; }
  header .menu { position: static; width: auto; background-color: transparent; border-radius: 0; display: block; }
  header .item  { position: absolute; font-size: 24px; display: block; padding: 0; border-top: 0; color: #838386; text-transform: none; }
  header .item.active { color: #C69785; border: 1px solid #C69785; border-width: 0 0 0 4px; }
  header .top   { top: 37px; }
  header .left  { left: 0px; padding-left: 45px; }
  header .right { right: 0px; padding-right: 45px; }
  header .right.active { border-width: 0 4px 0 0; }
  header .bottom { bottom: 47px; }
  .hero      { position: fixed; bottom: 0; left: 0; width: 20%; display: inline; }
  .hero.neil { left: auto; right: 0; }

  /* Quotes */
  .quotes blockquote { margin: 0 auto; max-width: 520px; padding: 0 9px; background: none; border: 4px solid #C69785; border-width: 0 0 0 4px; position: relative; }
  .quotes blockquote.neil { background: none; border-width: 0 4px 0 0; text-align: right; }
  .quotes blockquote .chatBubble { display: inline; width: 11px; position: absolute; left: -15px; top: 50%; margin-top: -7.5px; z-index: 2; }
  .quotes blockquote.neil .chatBubble { left: auto; right: -15px; transform: scaleX(-1); }
  .quotes blockquote p:first-child { margin-top: 0; }
}
