$headerHeight: 58px;
$desktopHeaderHeight: 145px;

/* Globals */
*    { box-sizing: border-box; }
body { font-family: 'Questrial', Helvetica, sans-serif; visibility: visible; }
a    { cursor: pointer; }

/* Page Layout */
h1 { text-align: center; margin: 0; padding-top: 11px; }
h1 img { width: 141px; }
section { border-top: 1px solid #DBDBDC; font-size: 12px; }
section.context { line-height: 15px; color: #838386; padding: 0 60px; }
.hero { display: none; }
.padded { padding: 0 1em;}
.nightshade { opacity: 0.8; background-color: black; position: fixed; left: 0; top: 0; bottom: 0; right: 0; display: none; }
body.hamburgerOpen .nightshade { display: block; }
body.hamburgerOpen .menu { display: block; }

/* Header */
header { position:relative; z-index: 2; background-color: white; height: $headerHeight; }
header .hamburger { position:absolute; left: 18px; top: 18px; width: 29px; height: 20px; cursor: pointer; }
header .menu { display: none; position: absolute; top: $headerHeight + 9px; left: 9px; width: 66%; background-color: white; border-radius: 10px; padding: 3px 0; }
header .item { display: block; text-align: center; text-decoration: none; color: #07070D; padding: 16px 0; text-transform: uppercase; border-top: 1px solid #DBDBDC; }
header .item:first-child { border-top: 0; }

/* Post */
.day h2 { color: #94796E; font-size: 24px; text-align: center;}
.day img { width: 100%; }
.day .quotes  { background: white; }
.day blockquote { color: #94796E; line-height: 20px; margin: 0; background: url(asset-path('santiSideIcon.jpg')) no-repeat left top; background-size: 38px 45px; padding-left: 38px+15px; padding-right: 15px; }
.day blockquote.neil { background-image: url(asset-path('neilSideIcon.jpg')); background-size: 37px 45px; }

@media only screen and (min-width: 769px) {
  h1 { padding: 25px 0 35px; }
  h1 img { width: 332px; }
  body { padding-top: $desktopHeaderHeight; }
  section { margin: 0 auto; max-width: 622px; border: 0; }
  section.context { font-size: 22px; max-width: none; border: 1px solid #DBDBDC; border-width: 1px 0 1px 0; line-height: initial; }
  header  { position: fixed; width: 100%; background-color: white; top: 0; height: $desktopHeaderHeight; }
  header .hamburger { display: none; }
  header .menu { position: static; width: auto; background-color: transparent; border-radius: 0; display: block; }
  header .item  { position: absolute; font-size: 24px; display: block; padding: 0; border-top: 0; color: #838386; text-transform: none; }
  header .top   { top: 22px; }
  header .left  { left: 45px; }
  header .right { right: 45px; }
  header .bottom { bottom: 31px; }
  .day blockquote { margin: 0 auto; max-width: 550px; padding-top: 42px; background: url(asset-path('santiIcon.png')) no-repeat left top; background-size: auto; }
  .day blockquote.neil { background-image: url(asset-path('neilIcon.png')); background-size: auto; }
  blockquote p:first-child { margin-top: 0; }
  .hero      { position: fixed; bottom: 0; left: 0; width: 20%; display: inline; }
  .hero.neil { left: auto; right: 0; }
}
